<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	
		<symbol id="icon-case" viewBox="0 0 96 86.5">
			<style></style><path class="st0" d="M90.9 17.9H5.1C3.4 17.9 2 19.3 2 21v60.5c0 1.7 1.4 3.1 3.1 3.1H91c1.7 0 3.1-1.4 3.1-3.1V20.9c-.1-1.7-1.5-3-3.2-3zM41.7 43.2H2m92 0H54.3M32.1 17.9V8.3C32.2 4.8 35 2 38.5 2h19c3.5 0 6.3 2.8 6.3 6.3v9.5"></path><path class="st0" d="M54.3 40.1v9.5c0 3.5-2.8 6.3-6.3 6.3s-6.3-2.8-6.3-6.3v-9.5c0-3.5 2.8-6.3 6.3-6.3 3.5-.1 6.3 2.8 6.3 6.3z"></path>
		</symbol>
	
		<symbol id="icon-check" viewBox="0 0 47 70.2">
			<path d="M47 23.5C47 10.5 36.5 0 23.5 0S0 10.5 0 23.5c0 7.1 3.1 13.4 8.1 17.7L7 66.7v.1c0 1.3.8 2.5 2 3.1 1.2.5 2.5.3 3.5-.6l11-9.5 11 9.5c.6.6 1.4.8 2.2.8.4 0 .9-.1 1.3-.3 1.2-.5 2-1.7 2-3.1l-1.1-25.6c5-4.2 8.1-10.5 8.1-17.6zM23.5 42C13.3 42 5 33.7 5 23.5S13.3 5 23.5 5 42 13.3 42 23.5 33.7 42 23.5 42z"></path><path d="M20.5 26.2l-6.1-6.1-3.5 3.6 9.6 9.6 15.6-15.7-3.5-3.5z"></path>
		</symbol>
	
		<symbol id="icon-check3" viewBox="0 0 79.2 78.8">
			<path d="M26.4 31.9L39.5 45l33.9-33.9c4.2-4.2 8.2.3 4.3 4.2l-35 35c-2.6 2.6-3.7 2.8-6.3.2L22.1 36.2c-3.5-3.5.7-7.8 4.3-4.3m52.2 3c.3 2.4.3 4.7.2 7.1-1.4 21.4-19.9 37.9-41.6 36.7C17.3 77.6 1.2 61.6.1 41.5c-.6-11.1 3.5-21.9 11.3-29.8C18.5 4.5 28.5 0 39.4 0c7.7 0 15.3 2.3 21.7 6.5 4.1 2.7 1.4 8-3.6 4.8-5.3-3.5-11.6-5.4-18-5.4-8.8 0-16.8 3.4-22.7 8.9C9.5 21.6 5.6 31.2 6.2 41.2c1 16.9 14.5 30.3 31.1 31.4 18.4 1.3 34.2-12.7 35.5-30.9.1-2 .1-4.1-.1-6.2-.6-4.9 5.4-5.5 5.9-.6z"></path>
		</symbol>
	
		<symbol id="icon-earth" viewBox="0 0 48 48">
			<path d="M24 48c13.3 0 24-10.7 24-24S37.3 0 24 0 0 10.7 0 24s10.7 24 24 24zm6.6-3c1.9-1.9 3.5-4.6 4.7-7.9h6.4c-2.8 3.8-6.7 6.5-11.1 7.9zM43 35.1h-7c.9-3 1.4-6.4 1.5-10.1H46c-.2 3.6-1.2 7-3 10.1zM46 23h-8.5c-.1-3.6-.6-7.1-1.5-10.1h7c1.8 3.1 2.8 6.5 3 10.1zm-4.3-12.1h-6.4c-1.2-3.3-2.8-6-4.7-7.9 4.4 1.4 8.3 4.1 11.1 7.9zM25 2.1c3.3.6 6.2 3.9 8.1 8.8H25V2.1zm0 10.8h8.8c.9 3 1.5 6.4 1.6 10.1H25V12.9zM25 25h10.4c-.1 3.6-.7 7.1-1.6 10.1H25V25zm0 12.1h8.1c-1.9 4.9-4.9 8.3-8.1 8.8v-8.8zm-2 8.8c-3.3-.6-6.2-3.9-8.1-8.8H23v8.8zm0-10.8h-8.8c-.9-3-1.5-6.4-1.6-10.1H23v10.1zM23 23H12.6c.1-3.6.7-7.1 1.6-10.1H23V23zm0-20.9v8.8h-8.1C16.8 6 19.7 2.7 23 2.1zm-5.6.9c-1.9 1.9-3.5 4.6-4.7 7.9H6.3C9.1 7.1 13 4.4 17.4 3zM5 12.9h7c-.9 3-1.4 6.4-1.5 10.1H2c.2-3.6 1.2-7 3-10.1zM2 25h8.5c.1 3.6.6 7.1 1.5 10.1H5C3.2 32 2.2 28.6 2 25zm10.7 12.1c1.2 3.3 2.8 6 4.7 7.9-4.4-1.4-8.3-4.1-11.1-7.9h6.4z"></path>
		</symbol>
	
		<symbol id="icon-eye" viewBox="0 0 1792 1152">
			<path d="M1664 576c-101.3-157.3-228.3-275-381-353 40.7 69.3 61 144.3 61 225 0 123.3-43.8 228.8-131.5 316.5S1019.3 896 896 896s-228.8-43.8-316.5-131.5S448 571.3 448 448c0-80.7 20.3-155.7 61-225-152.7 78-279.7 195.7-381 353 88.7 136.7 199.8 245.5 333.5 326.5S740 1024 896 1024s300.8-40.5 434.5-121.5S1575.3 712.7 1664 576zM944 192c0-13.3-4.7-24.7-14-34s-20.7-14-34-14c-83.3 0-154.8 29.8-214.5 89.5S592 364.7 592 448c0 13.3 4.7 24.7 14 34s20.7 14 34 14 24.7-4.7 34-14 14-20.7 14-34c0-57.3 20.3-106.3 61-147s89.7-61 147-61c13.3 0 24.7-4.7 34-14s14-20.7 14-34zm848 384c0 22.7-6.7 45.7-20 69-93.3 153.3-218.8 276.2-376.5 368.5S1071.3 1152 896 1152s-341.8-46.3-499.5-139S113.3 797.7 20 645C6.7 621.7 0 598.7 0 576s6.7-45.7 20-69c93.3-152.7 218.8-275.3 376.5-368S720.7 0 896 0s341.8 46.3 499.5 139 283.2 215.3 376.5 368c13.3 23.3 20 46.3 20 69z"></path>
		</symbol>
	
		<symbol id="icon-facebook" viewBox="0 0 42 90">
			<path d="M9.1 17.4v12.4H0V45h9.1v45h18.6V45h12.5s1.2-7.3 1.7-15.2H27.8V19.4c0-1.5 2-3.6 4-3.6H42V0H28.2C8.6 0 9.1 15.2 9.1 17.4"></path>
		</symbol>
	
		<symbol id="icon-fax" viewBox="0 0 14 14">
			<path d="M12 1c0-.6-.4-1-1-1H3c-.6 0-1 .4-1 1v1h10V1zm1 2H1c-.6 0-1 .4-1 1v6c0 .6.4 1 1 1h1v2c0 .6.4 1 1 1h8c.6 0 1-.4 1-1v-2h1c.6 0 1-.4 1-1V4c0-.6-.4-1-1-1zm-2 10H3V8h8v5zm1-7h-2V5h2v1z"></path><path d="M4 11h3v1H4zm0-2h6v1H4z"></path>
		</symbol>
	
		<symbol id="icon-letter" viewBox="0 0 24 18">
			<path d="M0 0v2.4l12 5.8 12-5.8V0H0zm0 4.5V18h24V4.5l-12 5.7L0 4.5z"></path>
		</symbol>
	
		<symbol id="icon-letters" viewBox="0 0 83.2 100">
			<path d="M81.7 19.4h-8.1v-8.7c0-.9-.7-1.5-1.5-1.5H63V1.5c0-.8-.7-1.5-1.6-1.5H1.5C.7 0 0 .7 0 1.5V79c0 .8.7 1.5 1.5 1.5h9.1v7.6c0 .8.7 1.5 1.5 1.5h8v8.7c0 .8.7 1.5 1.5 1.5h59.9c.9 0 1.5-.7 1.5-1.5V21c.2-.9-.5-1.6-1.3-1.6zm-1.6 77.5H23.3v-7.2H72c.8 0 1.5-.7 1.5-1.5V22.5H80v74.4zM13.8 80.6h30.6c.4 0 .8-.2 1.1-.5l16.9-16.9c.3-.3.5-.7.5-1.1V12.3h7.6v74.4H13.8v-6.1zM3.1 3.1h56.8v57.4H44.5c-.9 0-1.5.7-1.5 1.5v15.4H3.1V3.1zM46 75.3V63.6h11.7L46 75.3z"></path><path d="M23.7 16.2h29.2v-3.1H10.1v3.1h11.4zM12.2 27.8h40.7v-3.1H10.1v3.1h.6zm0 11.7h40.7v-3.1H10.1v3.1h.6zm0 11.6h40.7V48H10.1v3.1h.6zm0 11.6h24.5v-3.1H10.1v3.1h.6z"></path>
		</symbol>
	
		<symbol id="icon-phone" viewBox="0 0 73 73.1">
			<path d="M72.5 60.8c-.8-1.2-2.4-2.5-4.7-3.9-2.3-1.5-4.8-3.3-7.6-5.5s-5-3.2-6.6-3.2l-1.3.6c-1.4 1.4-2.5 2.7-3.3 3.8-.9 1.1-1.9 2.2-3.1 3.3-.7.1-1.4.1-2-.2-4.9-2.5-9.6-5.6-14.1-9.3-5.1-5-9.2-10.4-12.4-16.3-.6-1.2-.4-2.5.6-4l8.3-7.7c.4-.5.5-1.3.1-2.3-3.2-4.9-6.2-10-8.8-15.4-.3-.5-1.6-.8-3.8-.7-2.2.2-4.6 1.1-7.1 2.6C4 4.3 2.1 7.1.7 11c-.8 2.9-.9 6.2-.3 9.8.5 2.4 1.1 4.6 1.8 6.5 1.7 4.7 3.6 9 5.8 13 2.1 3.2 4.3 6.3 6.5 9.3 2.9 3.3 5.9 6.3 9 9 3.7 3 7.3 5.6 10.9 7.9 2.5 1.4 5.4 2.7 8.6 4 3.3 1.3 7.4 2.2 12.4 2.6 3.1.1 6.4-.5 9.9-2 3.1-1.5 5.3-3.3 6.6-5.4 1.2-2.1 1.4-3.7.6-4.9z"></path>
		</symbol>
	
		<symbol id="icon-phone2" viewBox="0 0 28.2 46">
			<path d="M25.4 0H2.8C1.2 0 0 1.3 0 2.8v40.4C0 44.8 1.3 46 2.8 46h22.6c1.6 0 2.8-1.3 2.8-2.8V2.8c0-1.5-1.3-2.8-2.8-2.8zM10.2 2.1H18c.4 0 .7.3.7.7s-.3.7-.7.7h-7.8c-.4 0-.7-.3-.7-.7 0-.4.3-.7.7-.7zm3.9 42.3c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm10.2-6.9H3.9V6h20.3v31.5h.1z"></path>
		</symbol>
	
		<symbol id="icon-rack" viewBox="0 0 86.6 65">
			<path d="M86.6 50.7c-.2 1.3-1.1 2.2-1.1 2.2L72.7 64.6c-.3.3-.9.4-1.5.4l-69.5-.2c-.9 0-1.7-.7-1.7-1.5 0-.4-.1-.8 0-1.1 0-.4.2-.8.6-1.1l12.8-10.7V39.7H1.7c-.3 0-.6-.1-.8-.2-.1-.1-.3-.2-.4-.3-.6-.7-.7-1.7 0-2.3L13.4 26V15.4H1.7c-.8 0-1.4-.5-1.6-1.2-.3-.8 0-2.2.5-2.6L13.8.4c.4-.4 1-.5 1.5-.4H84c.2 0 .3 0 .5.1.6-.2 1.2 0 1.7.5.4.5.5 1.1.4 1.7h.1v48.2l-.1.2zm-3.3-2.2V28.7L71.6 39.2c-.4.3-.8.5-1.3.4H16.7V51c0 .3-.1.6-.2.8-.1.3-.3.6-.5.8L5.1 61.7h65l11.5-9.9H21.7c-.9 0-1.7-.7-1.7-1.7s.7-1.7 1.7-1.7h61.6zm0-24.3V5.5l-10.6 9.8c-.4.1-.8.1-1.1 0-.2 0-.4.1-.7.1H16.7V27c0 .3-.2.7-.8 1.1l-9.6 8.2h63.6l9.8-8.8h-58c-.9 0-1.7-.7-1.7-1.7 0-.9.7-1.7 1.7-1.7h61.6zM15.1 3.6l-10 8.5h65.6c1.2-1.1 6.4-5.7 10-8.8H49.1c-16.5.1-28.9.3-34 .3z"></path>
		</symbol>
	
		<symbol id="icon-star" viewBox="0 0 30.6 29">
			<path d="M24.2 29c-.1 0-.2 0-.3-.1l-8.7-4.5-8.7 4.5c-.2.1-.5.1-.8-.1-.2-.2-.3-.4-.3-.7l1.8-9.5-7-6.8c-.2-.2-.3-.5-.2-.7.1-.3.3-.4.6-.5l9.7-1.4L14.6.4c.2-.5 1-.5 1.3 0l4.3 8.8 9.7 1.4c.3 0 .5.2.6.5s0 .5-.2.7l-7 6.8 1.7 9.6c0 .3-.1.5-.3.7-.2.1-.4.1-.5.1zm-9-6.1c.1 0 .2 0 .3.1l7.7 4-1.5-8.6c0-.2 0-.5.2-.6l6.2-6.1-8.5-1.2c-.2 0-.4-.2-.5-.4l-3.9-7.8-3.8 7.8c-.1.2-.3.4-.5.4l-8.7 1.2 6.2 6.1c.2.2.2.4.2.6L7.2 27l7.7-4c.1-.1.2-.1.3-.1z"></path>
		</symbol>
	
		<symbol id="icon-twitter" viewBox="0 0 512 416">
			<style></style><path class="st0" d="M512 49.2c-19 8.4-39.3 13.9-60.5 16.6 21.8-13 38.4-33.4 46.2-58-20.3 12.1-42.7 20.6-66.6 25.4C411.9 12.7 384.4 0 354.5 0c-58.1 0-104.9 47.2-104.9 105 0 8.3.7 16.3 2.4 23.9-87.3-4.2-164.5-46.1-216.4-109.8-9.1 15.7-14.4 33.7-14.4 53.1 0 36.4 18.7 68.6 46.6 87.2-16.9-.3-33.4-5.2-47.4-12.9v1.2c0 51 36.4 93.4 84.1 103.1-8.5 2.3-17.9 3.5-27.5 3.5-6.7 0-13.5-.4-19.9-1.8 13.6 41.6 52.2 72.1 98.1 73.1-35.7 27.9-81.1 44.8-130.1 44.8-8.6 0-16.9-.4-25.1-1.4 46.5 30 101.6 47.1 161 47.1 193.2 0 298.8-160 298.8-298.7 0-4.6-.2-9.1-.4-13.6C480.2 89 497.7 70.5 512 49.2z"></path>
		</symbol>
	
</svg>
