// Variables
$black-color: #000;
$dk-grey-color: #333;
$wht-color: #fff;
$yellow-color: #f0eb23;
$blue-color: #1776d2;
$dk-blue-color: #23376f;
$dk-blue-color2: #0c2a7e;
$lt-blue-color: #f5f9ff;

// $purple-color: #573460;


@mixin transition-in
  -webkit-transition: all .2s ease-in
  -moz-transition: all .2s ease-in
  -o-transition: all .2s ease-in
  transition: all .2s ease-in
@mixin transition-out
  -webkit-transition: all .2s ease-out
  -moz-transition: all .2s ease-out
  -o-transition: all .2s ease-out
  transition: all .2s ease-out
@mixin clearfix 
  &:before
    content: ''
    display: table
  &:after 
    content: ""
    display: table
    clear: both



// Font Variables
$GothamPro-Reg: 'GothamPro', sans-serif;
// $GothamPro-Black: 'GothamPro-Black', sans-serif;
$GothamPro-Bold: 'GothamPro-Bold', sans-serif;
$GothamPro-Light: 'GothamPro-Light', sans-serif;
$GothamPro-Medium: 'GothamPro-Medium', sans-serif;
$GothamPro-Italic: 'GothamPro-Italic', sans-serif;
// $GothamPro-LightItalic: 'GothamPro-LightItalic', sans-serif;


@font-face
  font-family: 'GothamPro'
  src: url('fonts/GothamPro/GothamPro.eot')
  src: url('fonts/GothamPro/GothamPro.eot') format('embedded-opentype'),   url('fonts/GothamPro/GothamPro.woff2') format('woff2'),   url('fonts/GothamPro/GothamPro.woff') format('woff'),   url('fonts/GothamPro/GothamPro.ttf') format('truetype'),   url('fonts/GothamPro/GothamPro.svg#GothamPro') format('svg')
  
// @font-face
  // font-family: 'GothamPro-Black'
  // src: url('fonts/GothamPro-Black/GothamPro-Black.eot')
  // src: url('fonts/GothamPro-Black/GothamPro-Black.eot') format('embedded-opentype'),   url('fonts/GothamPro-Black/GothamPro-Black.woff2') format('woff2'),   url('fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),   url('fonts/GothamPro-Black/GothamPro-Black.ttf') format('truetype'),   url('fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg')
  
  
@font-face
  font-family: 'GothamPro-Bold'
  src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot')
  src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot') format('embedded-opentype'),   url('fonts/GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),   url('fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),   url('fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),   url('fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg')
  
  
@font-face
  font-family: 'GothamPro-Light'
  src: url('fonts/GothamPro-Light/GothamPro-Light.eot')
  src: url('fonts/GothamPro-Light/GothamPro-Light.eot') format('embedded-opentype'),   url('fonts/GothamPro-Light/GothamPro-Light.woff2') format('woff2'),   url('fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),   url('fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype'),   url('fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg')
  
  
@font-face
  font-family: 'GothamPro-Medium'
  src: url('fonts/GothamPro-Medium/GothamPro-Medium.eot')
  src: url('fonts/GothamPro-Medium/GothamPro-Medium.eot') format('embedded-opentype'),   url('fonts/GothamPro-Medium/GothamPro-Medium.woff2') format('woff2'),   url('fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),   url('fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype'),   url('fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg')
    
// @font-face
//   font-family: 'GothamPro-LightItalic'
//   src: url('fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot')
//   src: url('fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot') format('embedded-opentype'),   url('fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff2') format('woff2'),   url('fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff') format('woff'),   url('fonts/GothamPro-LightItalic/GothamPro-LightItalic.ttf') format('truetype'),   url('fonts/GothamPro-LightItalic/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg')
      
@font-face
  font-family: 'GothamPro-Italic'
  src: url('fonts/GothamPro-Italic/GothamPro-Italic.eot')
  src: url('fonts/GothamPro-Italic/GothamPro-Italic.eot') format('embedded-opentype'),   url('fonts/GothamPro-Italic/GothamPro-Italic.woff2') format('woff2'),   url('fonts/GothamPro-Italic/GothamPro-Italic.woff') format('woff'),   url('fonts/GothamPro-Italic/GothamPro-Italic.ttf') format('truetype'),   url('fonts/GothamPro-Italic/GothamPro-Italic.svg#GothamPro-Italic') format('svg')
  