/* Slider */
.slick-preload
  opacity: 0
  visibility: hidden
  height: 0
  & + .front-text__item
    visibility: hidden

.slick-preload.slick-initialized
  opacity: 1
  visibility: visible
  height: auto
  & + .front-text__item
    visibility: visible

.slick-slider 
    position: relative
    display: block
    box-sizing: border-box
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -ms-touch-action: pan-y
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent

.slick-list 
    position: relative
    overflow: hidden
    display: block
    margin: 0
    padding: 0

    &:focus 
        outline: none
    

    &.dragging 
        cursor: pointer
        cursor: hand
    

.slick-slider .slick-track,
.slick-slider .slick-list 
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slick-track 
    position: relative
    left: 0
    top: 0
    display: block
    min-width: 100%
    &:before,
    &:after 
        content: ""
        display: table
    

    &:after 
        clear: both
    

    .slick-loading & 
        visibility: hidden
    

.slick-slide 
    float: left
    height: 100%
    outline: 0
    min-height: 1px
    [dir="rtl"] & 
        float: right
    
    img 
        display: block
    
    &.slick-loading img 
        display: none
    

    display: none

    &.dragging img 
        pointer-events: none
    

    .slick-initialized & 
        display: block
    

    .slick-loading & 
        visibility: hidden
    

    .slick-vertical & 
        display: block
        height: auto
        border: 1px solid transparent
    

.slick-arrow.slick-hidden 
  display: none
.slick-arrow
  top: 10%
  bottom: 0
  margin: auto
  position: absolute
  width: 28px
  height: 52px
  background: none
  border: none
  font-size: 0
  outline: 0
  cursor: pointer
  overflow: hidden
  @include transition-out
  z-index: 10
  opacity: .2
  // & svg
    // fill: #d6d6d6
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    width: 34px
    height: 34px
    border-top: 3px solid #fff
    border-right: 3px solid #fff
    transform: rotate(45deg)

.slick-arrow:hover
  @include transition-in
  opacity: 1

.slick-prev
  left: 40px
  &:before
    left: 9px
    transform: rotate(-135deg)    
.slick-next
  right: 40px
  &:before
    right: 9px
    transform: rotate(45deg)    
.slick-dots
  font-size: 0
  text-align: center
  position: absolute
  left: 0
  right: 0
  bottom: 30px
.slick-dots .slick-active button,
.slick-dots button:hover
  background-color: $blue-color
  border-color: $blue-color
.slick-dots button
  margin: auto
  outline: 0
  font-size: 0
  cursor: pointer
  width: 11px
  height: 11px
  padding: 0
  border: 1px solid #cdcdcd
  border-radius: 50%
.slick-dots li
  margin: 0 5px
  padding: 0
  display: inline-block
  vertical-align: middle

// arcticmodal

.arcticmodal-overlay,
.arcticmodal-container
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 1000
.arcticmodal-container
  overflow: auto
  margin: 0
  padding: 0
  border: 0
  border-collapse: collapse
*:first-child + html .arcticmodal-container
  height: 100% 
.arcticmodal-container_i
  height: 100%
  margin: 0 auto
  width: 100%
  max-width: 850px
.arcticmodal-container_i2
  padding: 15px
  margin: 0
  border: 0
  vertical-align: middle
.arcticmodal-error
  padding: 20px
  border-radius: 10px
  background: #000
  color: #fff
.arcticmodal-loading
  width: 80px
  height: 80px
  border-radius: 10px
  background: #000 url(images/loading.gif) no-repeat 50% 50%
.box-modal
  padding: 55px 40px 60px
  background-color: #fff
  position: relative
  margin: auto
  border-radius: 5px
  max-width: 570px
  &_med
    max-width: 780px
  &_wide
    max-width: 850px
.box-modal_close
  position: absolute
  right: 20px
  top: 20px
  width: 25px
  cursor: pointer
  height: 25px
  border: 1px solid #999999
  border-radius: 50%
  &:hover
    border-color: $blue-color
  &:hover:after,
  &:hover:before
    background-color: $blue-color
    transition: background-color .2s ease-in
  &:before,
  &:after
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    content: ' '
    height: 11px
    width: 1px
    transition: background-color .2s ease-out   
    background-color: #999999
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)


// // Default variables
$font_size: 15px !default
$font_size_small: 12px !default

$input_height: 34px !default
$input_height_small: 26px !default
$dropdown_padding: 18px !default

$gray_dark: #444 !default
$gray: #999 !default
$gray_light: #e8e8e8 !default
$gray_lighter: #f6f6f6 !default
$primary_light: $gray !default
$arrow_color: #676767

// Style the dropdown
.nice-select
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  box-sizing: border-box
  clear: both
  cursor: pointer
  display: block
  height: $input_height
  line-height: $input_height
  font-size: $font_size
  outline: none
  position: relative
  text-align: left !important
  transition: all 0.2s ease-in-out
  user-select: none
  white-space: nowrap
  width: auto
  &:hover
    border-color: darken($gray_light, 5%)
  
  

  .current
    display: inline-block
    font-size: 15px
    padding-right: 10px
    overflow: hidden
    text-overflow: ellipsis
    max-width: calc(100vw - 60px)

  &.open
    
    .list
      opacity: 1
      pointer-events: auto
      transform: scale(1) translateY(0)
    
  
  &.disabled
    border-color: lighten($gray_light, 2%)
    color: $gray
    pointer-events: none
    &:after 
      border-color: lighten($arrow_color, 20%)
    
  
  
  &.wide
    width: 100%
    .list
      left: 0 !important
      right: 0 !important
    
  
  &.right
    float: right
    .list
      left: auto
      right: 0
    
  
  &.small
    font-size: $font_size_small
    height: $input_height_small
    line-height: $input_height_small - 2
    
    .option
      line-height: $input_height_small - 2
      min-height: $input_height_small - 2
    
  

  
  .list
    background-color: #fff
    box-sizing: border-box
    opacity: 0
    overflow: hidden
    padding: 0
    max-height: 192px
    width: 100%
    overflow-y: auto
    pointer-events: none
    position: absolute
    top: 100%
    left: 0 
    transform-origin: 50% 0
    transform: scale(.75) translateY(- $input_height / 2)
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out
    z-index: 50
    border: 1px solid #e5e5e5
    &:hover .option:not(:hover)
      background-color: transparent !important
    
  
  .option
    cursor: pointer
    position: relative
    font-size: 14px
    color: $dk-grey-color
    line-height: $input_height
    list-style: none
    min-height: $input_height
    outline: none
    padding-right: 10px
    padding-left: 10px
    text-align: left
    transition: all 0.2s
    overflow: hidden
    text-overflow: ellipsis
    max-width: 100%
    &.selected
      color: $blue-color
    &:hover, &.focus, &.selected.focus 
      background-color: #f0f0f0
    
    &.selected 
    
    &.disabled
      background-color: transparent
      color: $gray
      cursor: default
// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select
  .list
    display: none
  
  &.open
    .list
      display: block

.selectWithLabel + .nice-select .option:first-child
  display: none
.nice-select.color_wht
  border-color: rgba($wht-color,.5)
.nice-select.color_wht
  &:after
    border-color: $wht-color
.nice-select
  &:after 
    border-bottom: 2px solid $dk-grey-color
    border-right: 2px solid $dk-grey-color 
    content: ''
    display: block 
    height: 7px
    top: 12px
    pointer-events: none
    position: absolute 
    right: 2px 
    transform-origin: 66% 66%
    transform: rotate(45deg)
    transition: all 0.15s ease-in-out
    width: 7px

// @license MIT