html, body
  height: 100%
body
  width: 100%
  font-size: 15px
  background-color: $wht-color
  color: $dk-grey-color
  font-family: $GothamPro-Reg
.hamburger,
select
  display: none
.tab__pane
  display: none
  &_active
    display: block
.wrapper
  max-width: 1200px
  padding: 0 15px
  position: relative
  margin: 0 auto
  &_770
    max-width: 800px
  &_700
    max-width: 730px
  &_860
    max-width: 890px
  &_not-found
    height: 100%  
body.error404 .main-content__block
  height: 100%
.center-wrap
  text-align: center  
.bg_lt-blue
  background-color: $lt-blue-color
.flex-block
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-wrap: wrap
.flex-jc-c
  justify-content: center
.flex-jc-sb
  justify-content: space-between
.flex-ai-c
  align-items: center
.center_absolute
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
.dropdown-block
  position: relative
  z-index: 11
.dropdown-wrap
  position: absolute
  right: 0
  top: 90%
  opacity: 0
  visibility: hidden
  z-index: 5
  @include transition-out
  &.open
    top: 100%
    @include transition-in
    opacity: 1
    visibility: visible
svg
  @include transition-out
.color_wht
  color: $wht-color !important
.stroke-width
  &_4
    stroke-width: 4
  &_2
    stroke-width: 2
  &_1
    stroke-width: 1
  &_0
    stroke-width: 0
.fill
  &_none
    fill: none
  &_grey
    fill: #999999
  &_lt-grey
    fill: #e3e3e3
  &_blue
    fill: $dk-blue-color2
  &_yellow
    fill: $yellow-color
  &_blk
    fill: #000
  &_wht
    fill: $wht-color
.stroke
  &_lt-grey
    stroke: #e3e3e3 
  &_blue-color
    stroke: $blue-color
  &_yellow
    stroke: $yellow-color
  &_wht
    stroke: $wht-color
  &_blk
    stroke: #000
.one-col__item
  margin-bottom: 30px
  width: 100%
.two-col__item
  width: calc(50% - 15px)
  &:nth-of-type(2n)
    margin-right: 0
  & &
    margin-bottom: 0
.three-col__item
  width: calc(33.33% - 20px)
  &:nth-of-type(3n)
    margin-right: 0
.four-col__item
  width: calc(25% - 22.5px)
  &:nth-of-type(4n)
    margin-right: 0
.five-col__item
  width: calc(20% - 24px)
  &:nth-of-type(5n)
    margin-right: 0
// .reverse-two-col__item
//   width: calc(50% - 15px)
//   &:nth-of-type(2n)
//     margin-left: 0
.two-col__item,
.three-col__item,
.four-col__item,
.five-col__item
  margin-bottom: 30px
  margin-right: 30px  
.two-fullcol__item
  width: 50%
.three-fullcol__item
  width: 33.30%
.four-fullcol__item
  width: 25%
  & img
    width: 100%
.five-fullcol__item
  width: 20%
.small-col__item
  width: calc(40.5% - 30px)
  margin-right: 30px
.big-col__item
  width: 59.5%
input
  -webkit-appearance: none
  border-radius: 0
input[type="submit"]:hover,
button:hover,
a:hover
  @include transition-in
a
  color: $blue-color
a,
input[type="submit"],
button
  border: none
  appearance: none
  -webkit-border-radius: 0
  border-radius: 0
  background: none
  line-height: normal
  padding: 0
  text-decoration: none
  @include transition-out
  outline: 0
.reg-btn,
input[type="submit"].reg-btn
  font-size: 14px
  cursor: pointer
  display: inline-block
  text-align: center
  border-radius: 3px
  padding: 12px 25px 13px
  font-family: $GothamPro-Bold
  text-transform: uppercase
  color: $wht-color
  min-width: 156px
  background-color: $dk-blue-color2
  @include transition-out
  &:hover
    background-color: $blue-color
  &_empty
    background-color: transparent
    border: 2px solid $dk-blue-color2
    color: $dk-blue-color2
    &:hover
      background-color: $dk-blue-color2
      color: $wht-color

.main-title
  font-size: 38px
  text-align: center
  line-height: 1.3
  font-family: $GothamPro-Bold
  &_smaller
    font-size: 28px
  &_smallest
    font-size: 18px
  &_left
    text-align: left
  &_about
    margin-bottom: 30px
// .form-input::-webkit-input-placeholder
  // color: #999
// .form-input::-moz-placeholder
  // color: #999
// .form-input:-ms-input-placeholder
  // color: #999
// .form-input:-moz-placeholder
  // color: #999
.form-input
  display: block
  border: none
  height: 50px
  font-size: 15px
  width: 100%
  padding: 0 21px
  border-radius: 3px
  background-color: $lt-blue-color
  &_wht
    background-color: $wht-color
  &.err
    background-color: #fff2f2
    @include transition-in
// .form-label
  // display: block
  // margin-bottom: 12px
  // font-size: 14px
  // color: #666
.fake-placeholder__wrap
  position: relative
.fake-placeholder__label
  @include transition-out
  position: absolute
  top: 14px
  left: 21px
  line-height: 1.4
  user-select: none
  pointer-events: none
  // & sup
  //   color: #f00
.form-input[required] + .fake-placeholder__label:after
  content: ' *'
  color: red
  vertical-align: super
  line-height: 0.9
.form-input.populated + .fake-placeholder__label,
.form-input:focus + .fake-placeholder__label
  @include transition-in
  opacity: 0
  visibility: hidden
textarea.form-input
  resize: none
  padding: 17px 21px
  height: 130px

.main-header__block
  position: fixed
  padding: 20px 0
  left: 0
  right: 0
  top: 0
  background-color: #262626
  z-index: 11
.nav__list
  & a
    font-size: 14px
    color: $wht-color
    &:hover
      color: $yellow-color
  & > li
    float: left
    margin-right: 40px
    position: relative
    &:last-child
      margin-right: 0
  &_footer li a,
  &_header > li > a
    text-transform: uppercase
  &_footer li a
    font-family: $GothamPro-Bold
    
  &_header li:hover ul
    opacity: 1
    visibility: visible
    @include transition-in
  &_header li ul li
    margin-bottom: 2px
  &_header li ul
    @include transition-out
    opacity: 0
    visibility: hidden
    z-index: 100
    position: absolute
    background-color: #262626
    // background-color: rgba(#000, .1)
    padding: 17px 8px 21px 20px
    top: calc(100% + 40px)
    left: -17px
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      height: 40px
      bottom: 100%
      // background-color: #f00
      right: 0
  &_header ul a
    line-height: 2
    white-space: nowrap
    display: inline-block
    padding-right: 17px
    position: relative
    &:before
      content: ''
      display: block
      opacity: 0
      position: absolute
      top: 11px
      left: -17px
      width: 6px
      height: 6px
      border-top: 1px solid $yellow-color
      border-right: 1px solid $yellow-color
      transform: rotate(45deg)
      transition: all .2s ease-out
    &:hover
      padding: 0 0 0 17px
      &:before
        left: 0
        opacity: 1
        transition: all .3s ease-in
.header-nav__block
    margin-left: auto
.language__block
  margin-left: 44px
.language__block .nice-select
  text-transform: uppercase
  & .list
    top: 100%
    left: -13px  
    width: auto
  & .option
    padding: 0 22px 0 50px
  // Arrow
  &:after 
    border-bottom: 2px solid $wht-color
    border-right: 2px solid $wht-color
    content: ''
    display: block 
    height: 5px
    margin-top: -4px
    pointer-events: none
    position: absolute 
    right: 2px 
    top: 50% 
    transform-origin: 66% 66%
    transform: rotate(45deg)
    transition: all 0.15s ease-in-out
    width: 5px
  .option:before,
  .current:before
    content: ''
    display: block
    position: absolute
    left: 0
    width: 21px
    height: 14px
    top: 0
    bottom: 0
    margin: auto
    background-position: 0 0
    background-size: cover
    background-repeat: no-repeat
  .option:before
    left: 13px
  .option[data-value="nl"]:before,
  .current.nl:before
    background-image: url('images/flags/nl-flag.svg')
  .option[data-value="zh"]:before,
  .current.zh:before
    background-image: url('images/flags/ch-flag.svg')
  .option[data-value="ru"]:before,
  .current.ru:before
    background-image: url('images/flags/ru-flag.svg')
  .option[data-value="en"]:before,
  .current.en:before
    background-image: url('images/flags/uk-flag.svg')
  .current
    padding: 0 12px 0 31px
    font-size: 14px
    color: $wht-color
    display: inline-block    
    font-family: $GothamPro-Medium
.banner__block
  position: relative
.banner__inner
  height: 30vw
  min-height: 400px
  padding: 5% 50px 0
  position: relative
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  &:after
    content: ''
    position: absolute
    display: block
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(#000, .5)
.front-text__item
  position: absolute
  left: 0
  right: 0
  top: 0
.banner__inner_front,
.front-text__item
  height: 43vw
.banner__text
  position: relative
  z-index: 2
  color: $wht-color
  font-size: 44px
  font-family: $GothamPro-Bold
  line-height: (68 / 48)
  text-align: center
.front-text__item .banner__text
  max-width: 850px
  font-size: 48px
.front-service__block
  margin: 90px 0
  position: relative
.front-service__item
  position: relative
  display: block
  overflow: hidden
  &:before,
  &:after
    content: ''
    position: absolute
    display: block
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, .3)
  &:after
    width: 150%
    left: -76%
    top: 0
    height: 330%
    transform: skew(-45deg)
    transition: all ease-out .3s
  &:before
    background-color: rgba(#000, .1)
  &-inner
    position: absolute
    // left: 0
    // right: 0
    // top: 0
    // bottom: 0
    left: 25%
    right: 25%
    top: 37%
    bottom: 37%
    z-index: 2
    transition: opacity ease-in .5s .1s
    &2
      opacity: 0
      transform: translate(-40%,-115%)
      justify-content: flex-start
      align-items: flex-start
      transition: opacity ease-in .2s
      & .front-service__title
        text-align: left
  &:hover:after
    background-color: rgba(#000, 1)
    // width: 140px
    // height: 140px
    width: 24%
    left: -12%
    height: 53%
    transition: width ease-in .5s, height ease-in .5s, left ease-in .5s, background-color ease-in .8s
  &:hover &-inner
    opacity: 0
    transition: opacity ease-in .2s
    // animation: fade-in .5s ease-in .2s
    // animation-fill-mode: both
    &2
      opacity: 1    
      transition: opacity ease-in .5s .3s
// @keyframes fade-in
  // 0%
    // opacity: 0
  // 100%
    // opacity: 1
.front-service__title
  // @include transition-out
  // position: relative
  color: $wht-color
  font-size: 20px
  font-family: $GothamPro-Bold
  line-height: (30 / 20)
  text-align: center    
  max-width: 220px
.benefits__block
  min-height: 470px
  background: url('images/benefits-bg.jpg') center center/cover no-repeat
.main-title-wrap
  padding: 114px 0 62px
  &_smaller
    padding: 75px 0 42px
  &_pt0
    padding-top: 0 !important
.benefits__item
    width: 180px
    margin-bottom: 30px
.benefits__icon
  display: inline-block
  position: relative
  height: 54px
  width: 62px
  & img
    max-height: 100%
    margin: auto
.benefits__num
  font-size: 32px
  font-family: $GothamPro-Bold
  margin: 10px 0
  & sup
    font-size: 16px
.benefits__title
  font-size: 14px
  line-height: (20 / 14)
.front-geo__wrap
  margin-top: 7px
.front-geo_tab-btn
  width: 50%
  color: #d1d2d5
  font-size: 15px
  padding: 11px 15px
  line-height: (19 / 15)
  border-bottom: 4px solid #e3e6eb
  max-width: 315px
  font-family: $GothamPro-Bold
  text-transform: uppercase
  &.tab__item_active
    color: $dk-grey-color
  &.tab__item_active
    border-color: $blue-color
  &.tab__item_active.front-geo_tab-btn-dk
    border-color: $dk-blue-color
.front-geo__tab-pane
  padding: 50px 0 82px
.front-geo__header img
  margin: 0 auto
.front-geo__body
  margin-top: 57px
.front-geo__list
  margin: 30px 70px 0
.front-geo__list-title
  color: $black-color
  font-size: 17px
  font-family: $GothamPro-Bold
  margin-bottom: 10px
.front-geo__list-item ul
  line-height: (24 / 14)
  width: 230px
.front-geo__tab-pane[tab-target-id="1"] .front-geo__list-item ul
  columns: 2
  column-fill: auto
  column-gap: 40px
.icon-text__wrap > *
  display: inline-block
  vertical-align: middle
.recent-posts__img img
  width: 100%
.recent-posts__title
  color: $dk-grey-color
  font-size: 16px
  font-family: $GothamPro-Bold
  line-height: (26 / 16)
  margin: 23px 0 14px
  display: block
.recent-posts__item:hover .recent-posts__title
  color: $blue-color
.recent-posts__date,
.recent-posts__views
  color: #999
  font-size: 11px
.recent-posts__views
  margin-left: 13px
  height: 14px
  & svg
    margin-right: 2px
.bottom-btn-wrap
    margin-top: 25px
.recent-posts__block
  margin-bottom: 120px
.inspire__block
  min-height: 422px
  background: url('images/inspire-bg.jpg') center center/cover no-repeat  
.inspire__item
  // margin-bottom: 30px
  width: 160px
  & img
    margin: 0 auto
.inspire__wrap
  margin: 20px -45px
.inspire__slider .slick-arrow
  width: 14px
  height: 26px
  top: 0
  &:before
    width: 17px
    height: 17px
    border-color: #333
  &.slick-prev
    left: 0
    &:before
      left: 3px
  &.slick-next
    right: 0
    &:before
      right: 3px
.seo-text__block
  margin: 70px 0 110px
  &_mt
    margin-top: 42px
.main-footer__block
  background-color: #262626
  padding-top: 45px
.main-logo_footer
    margin-top: 5px
    display: block
.footer__top .two-col__item
  margin-bottom: 0
.footer__bottom
  margin-top: 19px
  border-top: 1px solid #3c3c3c
  padding: 26px 0
.footer-subtitle
  color: #dadada
  font-size: 14px
  line-height: (22 / 14)
  margin: 11px 0 17px
  &_m
    margin: 34px 0 16px
.social__block a
  margin-right: 10px
  &:hover
    opacity: .7
.footer-title
  font-size: 20px
  font-family: $GothamPro-Bold
  color: $wht-color
  text-transform: uppercase
.footer-boldtext
  font-family: $GothamPro-Bold
  color: $wht-color
  line-height: (28 / 15)
.footer-list
  margin-top: 20px
  & li
    margin-bottom: 18px
    padding-left: 23px
    position: relative
    & svg
      position: absolute
      top: 3px
      left: 0
    & span
      font-family: $GothamPro-Bold
      color: $wht-color
      font-size: 14px
.copyright
  font-size: 13px
  color: $wht-color
.develop
  font-size: 14px
  & span
    color: $wht-color
  & a
    color: $yellow-color
    text-transform: uppercase
    font-family: $GothamPro-Bold
.manager__block
  padding: 15px
  border-radius: 8px
  background: rgba($wht-color, 0.4)
  &_fixed
    position: fixed
    right: 2.3%
    bottom: 40px
    z-index: 10
  &_absolute
    position: absolute
    right: 2.3%
    top: -15px
    z-index: 10
.manager__icon
  margin-right: 27px
.manager__img
  overflow: hidden
  border-radius: 50%
.manager__title
  margin-top: 10px
  text-align: center
  font-family: $GothamPro-Bold
  color: $black-color
.manager__text
  color: $black-color
  width: 174px
  padding: 20px 20px 20px
  background-color: $lt-blue-color
  border: 1px solid #eef4fd
  border-radius: 8px
  position: relative
  font-size: 13px
  line-height: (19 / 13)
  font-family: $GothamPro-Light
  margin-bottom: 15px
  &:after,
  &:before
    content: ''
    display: block
    position: absolute
    right: 100%
    top: 0
    bottom: 0
    margin: auto
    width: 0
    height: 0
    border-style: solid
  &:before
    border-width: 10px 14px 10px 0
    border-color: transparent #eef4fd transparent transparent
  &:after
    border-width: 9px 13px 9px 0
    border-color: transparent $lt-blue-color transparent transparent
.manager__btn .reg-btn
  width: 100%
  padding: 10px

.blog-posts__block
  margin: 90px 0 120px
.blog-single__block
  margin: 63px 0 82px
.content__block
  & p,
  & li
    line-height: 1.75
    margin-bottom: 26px
  & li
    position: relative
    padding-left: 20px
    &:before
      display: block
      position: absolute

  & ul li:before
    content: ''
    top: 10px
    left: 0    
    width: 6px
    height: 6px
    border-radius: 50%
    background-color: $dk-blue-color2
  & ol
    counter-reset: item
  & ol li:before
    top: 0px
    left: 0    
    color: $dk-blue-color2
    font-family: $GothamPro-Bold
    content: counter(item)'.'
    counter-increment: item
  & blockquote
    margin: 50px 0 53px
    padding: 122px 0 27px
    text-align: center
    font-family: $GothamPro-Italic
    background-color: $lt-blue-color
    position: relative
    box-shadow: -700px 0 0 $lt-blue-color, 700px 0 0 $lt-blue-color
    & p
      font-size: 22px
      line-height: (32 / 22)
    &:before
      content: ''
      display: block
      position: absolute
      top: 60px
      right: 0
      left: 0
      margin: auto
      width: 35px
      height: 29px
      background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 44 36" style="enable-background:new 0 0 44 36;" xml:space="preserve"><g>  <g>   <path fill="#0C2A7E" d="M18,4c1.1,0,2-0.9,2-2s-0.9-2-2-2C7.6,0,0,7.6,0,18v16c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V18      c0-1.1-0.9-2-2-2H4.1C5,8.8,10.4,4,18,4z"/>    <path fill="#0C2A7E" d="M42,16H28.1C29,8.8,34.4,4,42,4c1.1,0,2-0.9,2-2s-0.9-2-2-2C31.6,0,24,7.6,24,18v16c0,1.1,0.9,2,2,2h16     c1.1,0,2-0.9,2-2V18C44,16.9,43.1,16,42,16z"/> </g></g></svg>') 0 0/cover no-repeat
.blog-single__footer
  margin-top: 58px
.post-ratings-text
  font-size: 14px
  color: $black-color
  margin-left: 10px
.post-ratings-text strong
  font-family: $GothamPro-Bold
.post-ratings-text-title
  color: $black-color
  font-family: $GothamPro-Bold
  margin-bottom: 12px
.post-ratings-block
  font-size: 0
.post-ratings-block img,
.post-ratings-block .post-ratings > *
  display: inline-block
  vertical-align: middle
.post-ratings-block .post-ratings > *
  margin: 5px 0;
.post-ratings-block img
  margin-right: 4px
span.post-ratings-text
  display: none !important
.social-share__block
  margin-top: 3px
  & *
    display: inline-block
    vertical-align: middle
.social-share__btn
  margin-right: 15px
  text-align: center
  border-radius: 50px
  padding: 10px 10px 11px 10px
  width: 160px
  &:last-child
    margin-right: 0
  &:hover
    background-color: transparent
  &_tw
    background-color: #2DAAE2
    border: 2px solid #2DAAE2
    &:hover span
      color: #2DAAE2
    &:hover svg
      fill: #2DAAE2
  &_fb
    background-color: #3B5998
    border: 2px solid #3B5998
    &:hover span
      color: #3B5998
    &:hover svg
      fill: #3B5998
  &:hover span
    @include transition-in
  & span
    margin-left: 10px
    @include transition-out
    color: #fff
    font-size: 14px
    font-family: $GothamPro-Bold  
.blog-single__related
  padding-bottom: 53px
.first-text__block
  margin: 83px 0 72px
  position: relative
  &_mb40
    margin-bottom: 40px
.geo-map__block  
  margin-bottom: 20px
.geo-sizes__wrap
  margin: 23px 0 8px
.geo-sizes__item-text
    font-size: 18px
    margin-bottom: 26px
.geo-sizes__item-icon
  height: 38px
  & img
    max-height: 100%
.geo-deleveries__wrap
  margin: 30px 0
.geo-deleveries__item
  height: 100%
  border-radius: 4px
  padding: 50px 8% 45px
.geo-deleveries__item-icon
  height: 48px
  & img
    max-height: 100%  
.geo-deleveries__iten-text
  margin-top: 25px
  line-height: (23 / 15)
.info-feats__block
  padding-bottom: 80px
  &_warehouse
    padding-bottom: 10px !important
    & .info-feats__item
      padding-top: 1px
    & .info-feats__item-icon
      margin-bottom: 12px
  &_warehouse2
    & .info-feats__item
      padding-left: 5%
      padding-right: 5%
  &_pb50
    padding-bottom: 50px
.info-feats__wrap
  margin-top: 10px
.info-feats__item
  display: block
  background-color: $wht-color
  height: 100%
  border-radius: 4px
  padding: 46px 10% 39px
.info-feats__item-icon
  height: 50px
  margin-bottom: 25px
  & img
    max-height: 100%    
.info-feats__item-title
  color: $dk-grey-color
  line-height: (23 / 15)
.modal-title
  font-size: 20px
  line-height: (28 / 20)
  font-family: $GothamPro-Bold
.modal-body
  margin-top: 22px
.modal-footer
  margin-top: 24px
.about-years__icon
  width: 75px
  height: 75px
  margin: 0 auto
  border-radius: 50%
  border: 1px solid $dk-blue-color2
  & img
    max-height: 38px
    max-width: 48px
.about-years__title
  font-size: 18px
  margin: 17px 0 8px
  font-family: $GothamPro-Bold
.about-years__text
  font-size: 13px
  line-height: 1.65
  & strong
    font-family: $GothamPro-Bold
.about-years__block
  padding-top: 80px
.about-years__item
  margin-bottom: 35px
.form-btn-wrap
  margin-top: 10px
.contact-form__block
  padding-bottom: 80px
.branch__block
  margin: 90px 0 60px
.branch__item-map .acf-map
  min-height: 260px
.branch__item
  position: relative
.branch__item:hover .branch__item-hover
  opacity: 0
  visibility: hidden
  @include transition-in
.branch__item-hover
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 26.2% 7% 5%
  background-color: rgba(#fff, .75)
  @include transition-out
.branch__item-title
  text-transform: uppercase
  font-size: 20px
  color: $dk-blue-color2
  margin-bottom: 4px
  line-height: (32 / 20)
  font-family: $GothamPro-Bold
.branch__item-desc
  font-size: 14px
  line-height: (24 / 14)
.notify__block
  position: relative
  margin-top: 18px
  height: 16px
.notify__message
  color: #398f14
  text-align: center
  font-size: 14px
  position: absolute
  top: 1px
  left: 0
  right: 0
  display: none
.notify__message_err
  color: #f00
.container__block
  margin-bottom: 40px
.container__item
  border: 1px solid #e6e9f2
  margin-bottom: 20px
.container__item-header
  font-size: 20px
  text-transform: uppercase
  font-family: $GothamPro-Bold
  padding: 14px 20px 15px
.container__item-img
  border-top: 1px solid #e6e9f2
  border-bottom: 1px solid #e6e9f2
  padding: 10px 10px 7px
  & img
    margin: 0 auto
.container__item-table
  padding: 12px 17px 3px 20px
.container__item-table td,
.container__item-table th
  font-size: 13px
  width: 21.6%
  padding: 3px 0
.container__item-table td[colspan="4"]
  border-top: 1px solid #e6e9f2
  padding: 8px 0 20px
.container-table__header th
  padding: 11px 0
.container__item-table td:nth-of-type(1),
.container__item-table th:nth-of-type(1)
  width: 35.8%
.container__item-table td:nth-of-type(4),
.container__item-table th:nth-of-type(4)
  width: 21%
.container__item-table th
  font-family: $GothamPro-Bold
.container-table-sect__header th
  font-size: 15px
  padding: 9px 0 12px

.container__block .main-title-wrap
  padding: 0 0 50px
.forwarding__item-title
  font-family: $GothamPro-Bold
  line-height: (23 / 15)
  margin-bottom: 8px
.forwarding-types__wrap
  margin: 35px 0 -25px
  & .main-title
    margin-bottom: 43px
.forwarding__item-text
  font-size: 14px
  line-height: (23 / 14)
.forwarding-types__title
  position: relative
  display: inline-block
  padding-left: 10px
  margin-bottom: 3px
  &:before
    content: ''
    display: block
    position: absolute
    top: 6px
    left: 0
    border-radius: 50%
    width: 4px
    height: 4px
    background-color: $dk-blue-color2
.product__item-content
  border: 1px solid #e6e9f2
.product__item-img img
  width: 100%
.product__item-header
  font-size: 18px
  line-height: 1.35
  font-family: $GothamPro-Bold
  min-height: 40px
  padding: 15px 20px 14px
  border-bottom: 1px solid #e6e9f2
  @include transition-out
.product__item:hover .product__item-header
  background-color: $dk-blue-color2
  color: $wht-color
  @include transition-in
.product__item-body
  padding: 0 20px
.product__item-row
  padding: 22px 0 18px
  border-bottom: 1px solid #e6e9f2
  &:last-child
    border-bottom: none
.product-info__row-title
  font-family: $GothamPro-Bold
  margin-bottom: 8px
.product-info__row-text
  font-size: 14px
  line-height: (21 / 14)
.warranty__block
  margin: 56px 0 -25px
.warranty__header
  color: $dk-blue-color2
  font-family: $GothamPro-Medium
.warranty-header__num
  font-size: 120px
.warranty-header__text
  text-align: center
  margin-left: 10px
  text-transform: uppercase
.warranty-header__text1
  font-size: 71px
  line-height: 1
.warranty-header__text2
  font-size: 32px
.warranty-body__title
  font-size: 17px
  line-height: 1.4
  font-family: $GothamPro-Medium
  margin: 35px 0
.warranty-body__list .two-col__item
  margin-bottom: 20px
.warranty-body__list-item
  position: relative
  & svg
    position: absolute
    left: 0
    top: 3px
  & span
    padding-left: 20px
    display: block
    font-size: 16px
    line-height: (21 / 16)
.warranty__footer
  margin-top: 58px
.warranty-mark__item
  border: 1px solid $dk-blue-color2
  border-radius: 5px
  min-height: 173px
.one-col__item .warranty-mark__item
  min-height: 147px
.warranty-mark__item-img
  height: 70px
  width: 100%
  & img
    max-height: 100%  
.warranty-mark__item-text
  color: $dk-blue-color2
  & strong
    display: block
    margin-bottom: 2px
    font-size: 32px
    font-weight: 700
    font-family: "Times New Roman", serif
  & span
    font-family: "Arial", sans-serif
    font-size: 16px
.warehouse__item-text
  font-family: $GothamPro-Medium
  line-height: (23 / 15)
.warehouse-simpletext
  line-height: (26 / 15)
  margin: -7px 0 47px
.thnx-modal__block
  margin: 14px 0 6px
.thnx-modal__title
  margin: 21px 0 19px
.application-form-modal1 .box-modal
  padding-bottom: 35px
.modal-header__text
  margin: 18px 0 34px
  line-height: 1.4
.not-found-nums
  line-height: 0.9
  margin-bottom: 33px
  font-size: 270px
  color: $dk-blue-color2
  font-family: $GothamPro-Bold
.not-found-title  
  font-size: 38px
.not-found-text
  margin: 19px 0 35px
  font-family: $GothamPro-Light
  font-size: 22px
  // max-width: 520px
  line-height: 1.5
.not-found-block
  padding-bottom: 90px
.not-found-block .reg-btn
  padding-left: 38px
  padding-right: 38px  

.textmarkup__block
  h1, h2, h3, h4
    font-family: $GothamPro-Bold
  h1
    font-size: 44px
    line-height: 1.41667
  h2
    font-size: 38px
    line-height: 1.3
  h3
    font-size: 32px
    line-height: 1.2
  h4
    font-size: 26px
    line-height: 1.15
  p
    line-height: 1.75
    margin: 25px 0
  strong
    em
      font-weight: 700
  a
    border-bottom: 1px solid #333
    color: #333

  img    
    &.alignright
      float: right
    &.aligncenter
      display: block
      margin: 0 auto
  &::after,
  &::before
    content: ""
    clear: both
    display: table
  strong
    font-family: $GothamPro-Bold
  em
    font-family: $GothamPro-Italic