*:after,
*:before,
*{box-sizing: border-box;}body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,figcaption,figure{margin:0;padding:0;}table{width: 100%;border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}ol li,ul li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sub{vertical-align:text-bottom;}input,textarea,select{-webkit-appearance: none;-moz-appearance:none;font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}img{max-width: 100%;display: block;height:auto;}button{font-family: inherit;cursor: pointer;outline: 0}