@media only screen and (max-width: 1900px)
	body.home .manager__block_absolute
		position: static
		max-width: 315px
		margin: 0 auto
@media only screen and (min-width: 996px)
	body.modal-open
    	width: auto
	body.error404 .main-content__block
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			left: -1132px
			right: 0
			margin: 0 auto
			bottom: 0
			background: url('images/404.svg') 0 0/cover no-repeat
			width: 686px
			height: 598px    	
@media only screen and (max-width: 1550px) and (min-width: 1250px)
	body:not(.home) .manager__block_absolute
		display: block
		right: 0
		width: 204px
	body:not(.home) .manager__icon
		margin: 0 auto 15px
		width: 84px
	.manager__text:after, .manager__text:before
		display: none
@media only screen and (max-width: 1300px)
	.inspire__wrap
		margin: 20px 0 0
@media only screen and (max-width: 1250px)
	.first-text__block
		margin-bottom: 30px
	.manager__block_absolute
		position: static
		max-width: 315px
		margin: 0 auto
@media only screen and (max-width: 1100px)
	.language__block
		margin-left: 26px
	.nav__list>li
		margin-right: 22px
@media only screen and (max-width: 996px)
	.not-found-nums
		font-size: 180px
	.not-found-text
		font-size: 18px
	.not-found-title
		font-size: 36px	
	.not-found-block
		padding: 30px 0
	.racking-product__wrap,
	.container__wrap 
		max-width: 570px
		margin: auto
		& .three-col__item,
		& .two-col__item
			width: 100% !important
			margin: 0 0 30px 0 !important	
	.container__item-table
		overflow-y: hidden
		overflow-x: auto
		-ms-overflow-style: -ms-autohiding-scrollbar
		& > table
			width: 531px
	.about-years__item
		margin-bottom: 10px
	.info-feats__item,
	.geo-deleveries__item
		padding: 35px 15px 30px
	.content__block blockquote
		box-shadow: -290px 0 0 $lt-blue-color, 290px 0 0 $lt-blue-color;
	.footer__top .two-col__item:nth-of-type(1)
		width: 37%
		margin: 0
	.footer__top .two-col__item:nth-of-type(2)
		width: 63%
	.about-years__block
		padding: 50px 0 10px
	.blog-posts__block,
	.first-text__block,
	.seo-text__block
		margin: 50px 0 !important
	.blog-single__footer
		margin-top: 50px
	.recent-posts__block
		margin-bottom: 50px
	.front-geo__header img
		height: auto !important;
	.forwarding-types__wrap
		margin: 30px 0 -35px
	.front-geo__list
		margin: 30px 30px 0
	.forwarding-types__wrap .main-title
		margin-bottom: 35px
	.warranty__footer,
	.front-geo__body
		margin-top: 30px
	.branch__block,
	.front-service__block
		margin: 50px 0 20px
	.blog-single__block
		margin: 50px 0 40px
	.main-title-wrap
		padding: 60px 0 40px
	.benefits__wrap
		justify-content: center
		padding-bottom: 30px
	.contact-form__block,
	.blog-single__related
		padding-bottom: 30px
	.inspire__wrap
		margin-top: 0
	.info-feats__block,
	.inspire__block
		padding-bottom: 50px
	.benefits__block,
	.inspire__block
		min-height: auto
	// .inspire__item,
	.benefits__item
		width: 33%
	.slick-arrow:before
		width: 24px
		height: 24px
	.slick-prev
		left: 10px
	.slick-next
		right: 10px
	.front-text__item .banner__text,
	.banner__text
		font-size: 32px
	.language__block
		margin: 0 60px 0 0
	.main-header__block
		padding: 10px 0
	.main-header__block .wrapper
		position: static
	.nav__list_header li ul
		position: static
		opacity: 1
		visibility: hidden
		padding: 0
		background-color: transparent
	.nav__list_header.active ul,
	.nav__list_header.active
		transition: all .2s ease-in
		opacity: 1
		visibility: visible
	.nav__list_header
		transition: all .2s ease-out
		text-align: center
		position: absolute
		left: 0
		right: 0
		z-index: 100
		top: 0
		min-height: 100%
		background: #fff
		padding-top: 50px
		opacity: 0
		visibility: hidden
	.nav__list_header a
		color: $blue-color
	.nav__list_header > li > a
		padding: 20px 0 !important
		font-size: 20px
		display: block
	.nav__list_header > li > ul a
		padding: 0 
		color: $blue-color
		font-size: 18px
		padding: 0 !important
		&:before
			display: none
	.nav__list_header li
		margin-right: 0 !important
		float: none
	.hamburger--spring .hamburger-inner:before 
		top: 8px
		transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)
		transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19)
		transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)
	.hamburger-inner:before 
		top: -10px
	.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before 
		background-color: $blue-color
	.hamburger--spring .hamburger-inner 
		top: 4px
		transition: background-color 0s .15s linear

	.hamburger-inner 
		top: 50%
		display: block
		margin-top: -2px

	.hamburger-box 
		position: relative
		display: inline-block
		width: 30px
		height: 20px
	.hamburger 
		z-index: 100
		right: 10px
		position: absolute
		top: 14px
		font: inherit
		display: inline-block
		overflow: visible
		margin: 0
		padding: 10px
		height: 47px
		cursor: pointer
		transition-timing-function: linear
		transition-duration: .15s
		transition-property: opacity,-webkit-filter
		transition-property: opacity,filter
		transition-property: opacity,filter,-webkit-filter
		text-transform: none
		color: inherit
		border: 0
		background-color: transparent

	.hamburger--spring .hamburger-inner:after 
		top: 16px
		transition: top .3s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)
		transition: top .3s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19)
		transition: top .3s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)
	.hamburger-inner:after 
		bottom: -10px
	.hamburger-inner:after, .hamburger-inner:before 
		display: block
		content: ''
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before 
		position: absolute
		width: 30px
		height: 3px
		transition-timing-function: ease
		transition-duration: .15s
		transition-property: -webkit-transform
		transition-property: transform
		transition-property: transform,-webkit-transform
		background-color: $blue-color
	.hamburger--spring.is-active .hamburger-inner 
		transition-delay: .32s
		background-color: transparent

	.hamburger--spring.is-active .hamburger-inner:before 
		top: 0
		transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .32s cubic-bezier(.215,.61,.355,1)
		transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .32s cubic-bezier(.215,.61,.355,1)
		transition: top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .32s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .32s cubic-bezier(.215,.61,.355,1)
		-webkit-transform: translate3d(0,10px,0) rotate(45deg)
		transform: translate3d(0,10px,0) rotate(45deg)
	.hamburger--spring.is-active .hamburger-inner:after 
		top: 0
		transition: top .3s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .32s cubic-bezier(.215,.61,.355,1)
		transition: top .3s cubic-bezier(.33333,0,.66667,.33333),transform .15s .32s cubic-bezier(.215,.61,.355,1)
		transition: top .3s cubic-bezier(.33333,0,.66667,.33333),transform .15s .32s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .32s cubic-bezier(.215,.61,.355,1)
		-webkit-transform: translate3d(0,10px,0) rotate(-45deg)
		transform: translate3d(0,10px,0) rotate(-45deg)

@media only screen and (max-width: 640px)
	.warranty-mark__item
		min-height: 120px !important
		padding: 15px
	.geo-sizes__item
		margin-bottom: 25px
	.blog-single__footer
		display: block
	.social-share__block
		margin-top: 30px
	// .inspire__item,
	.benefits__item
		width: 50%
	.four-col__item,
	.three-col__item,
	.two-col__item
		width: 100% !important
		margin: 0 0 30px 0 !important
	.two-col__item .two-col__item:last-child
		margin-bottom: 0 !important
	.main-logo_footer img
		margin: 0 auto
	.footer__top .two-col__item:nth-of-type(1)
		margin-bottom: 30px
		text-align: center
	.footer__top .two-col__item:nth-of-type(2)
		justify-content: space-around
		margin-bottom: 0 !important
	.footer__top .two-col__item
		width: 100% !important
	.footer__bottom
		flex-direction: column
		& > *
			margin: 10px 0
	.bottom-btn-wrap
		margin-top: 10px
@media only screen and (max-width: 480px)
	.front-service__item-inner
		left: 10px
		right: 10px
		top: 10px
		bottom: 10px
	.front-service__item:hover .front-service__item-inner
		transform: none
		justify-content: center
		align-items: center
	.not-found-nums
		margin-bottom: 20px
	.not-found-nums
		font-size: 120px
	.not-found-text
		font-size: 16px
		margin-top: 20px
		& br
			display: none
	.not-found-title
		font-size: 28px	
	.info-feats__block_pb50
		padding-bottom: 20px
	.product__item-body
		padding: 0 15px
	.warranty-header__num
		line-height: 1
	.warranty__header
		display: block
		text-align: center
	.warranty-header__text
		margin-left: 0
	.box-modal
		padding: 45px 15px 50px
	.social-share__btn
		width: 130px
	.content__block blockquote
		padding: 100px 0 10px
		&:before
			top: 42px
	.container__item-header,
	.content__block blockquote p
		font-size: 18px
	// .inspire__item,
	.benefits__item
		width: 100%
	.main-title-wrap
		padding-top: 50px
	.content__block li,
	.content__block p
		font-size: 14px
	.benefits__num
		font-size: 26px
	.front-geo_tab-btn
		width: 100%
		margin-bottom: 10px
		& br
			display: none
	.main-title
		font-size: 28px
		&_smaller
			font-size: 24px
		&_smallest
			font-size: 18px
	.main-footer__block
		padding-top: 30px
	.footer__bottom
		margin-top: 0
	.footer-col
		margin-bottom: 15px
	.footer__top .two-col__item
		flex-direction: column
		align-items: center
	.front-text__item,
	.banner__inner
		min-height: 320px
		height: 80vw
		padding: 10% 35px 0
	.main-logo img
		width: 150px !important
		height: 58px !important
	.front-text__item .banner__text,
	.banner__text
		font-size: 24px
	.slick-arrow:before
		width: 18px
		height: 18px
	.slick-prev
		left: 5px
	.slick-next
		right: 5px
